.info {
  max-width: 457px;

  display: flex;
  flex-direction: column;

  h1 {
    font-weight: 800;
    font-size: 56px;
    line-height: 71px;
    color: #13183f;
  }

  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
  }
}
