.button {
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;

  // background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  border: none;
  border-radius: 28px;

  width: 167px;
  height: 56px;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }
}
