@import '../../index.scss';

.about_info {
  width: 100%;
  height: 120px;
  margin-left: -40px;
  margin-right: -40px;
  width: calc(100% + 80px - 1px);

  display: flex;
  flex-direction: row;
  align-items: center;

  @include max(1210px) {
    padding-inline: 40px;
  }

  @include max(720px) {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
    padding-inline: 16px;
  }

  .about {
    margin: 0 auto;
    width: 100%;
    max-width: 1110px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  span {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    font-size: 36px;
    line-height: 45px;
    color: #ffffff;
    @include max(1024px) {
      font-size: 28px;
      line-height: 35px;
    }
  }
}
