@import './index.scss';

.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  width: 100%;
  /* max-width: 500px;
  border: 1px solid mediumblue; */
  margin: auto;
}

.hero-image {
  z-index: -1;
  @include max(767px) {
    display: none;
  }
  @include min(576px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 56%;
    height: 83vh;
    background-image: url(./assets/hero/image-hero-tablet.png);
    background-repeat: no-repeat;
    background-position: 35px -95px;
  }
  @include min(1025px) {
    height: 95vh;
    background-image: url(./assets/hero/image-hero-desktop.png);
    background-position: 97px -145px;
  }
}
